<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<a href="/user/{{ username }}">&#8619 Back</a>
    <form id="form" action="/create_game" method="post">
        <input id="game_name" type="text" name="game_name" placeholder="Name your game">
        <br />
        {% if game_name_error_msg %}
        <p id="game_name_error"> {{ game_name_error_msg }} <p>
        {% endif %}
        <input id="invite" type="text" name="invitees" placeholder="Add players">
        <br />
        {% if invite_error_msg %}
        <p id="invite_error"> {{ invite_error_msg }} <p>
        {% endif %}
        <input id="submit" type="submit" value="Create Game">
    </form>
</body>

</html>