<div id="sign_up_page">
    <h1>Sign Up</h1>
    <p id="signup_error"><p>
	<form id="signup_form">
		<input id="email" type="text" name="email" placeholder="Email" />
		<input id="username" type="text" name="username" placeholder="Username" />
		<input id="pw1" type="password" name="password" placeholder="Password" />
		<input id="pw2" type="password" placeholder="Re-type password" />
		<button>Sign Up</button>
	</form>
	<p>Already have an account?</p>
	<a id="login">Login</a>
</div>


<div id="login_page">
    <h1>Login</h1>
    <p id="login_error"><p>
	<form id="login_form">
		<input id="login_username" type="text" name="username" placeholder="Username">
		<input id="login_pw" type="password" name="password" placeholder="Password">
		<button>Login</button>
	</form>
	<a>Forgot password or username?</a>
	<a>Sign up</a>
</div>