<!--use urlfor everywhere, in hrefs, etc. -->
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<a href="/logout">Log Out</a>
    <h1>Hello, {{ username }} </h1>
    <h3>GAMES</h3>
    {% for game_name in game_names %}
    <a href="/user/{{ username }}/{{ game_name }}"> {{ game_name }} </a>
    <br />
	{% endfor %}
    <br />
    <a href="/create_game">Start New Game</a>
    <br />
    <br />    
    <h3>FRIENDS</h3>
    {% for friend in friends %}
    <a href=""> {{ friend }} </a>
    <br />
    {% endfor %}
    <br />
    <a href="/friend_request">Send Friend Request</a>
    <br />
    <br />    
    <h3>FRIEND REQUESTS</h3>
    {% for requester in pending_requests %}
    <a href=""> {{ requester }} </a>
    [
    <a href="{{ url_for('handle_request', requester=requester, confirm=True) }}">confirm</a>
    <a href="{{ url_for('handle_request', requester=requester, confirm=False) }}">cancel</a>
    ]
    <br />
    {% endfor %}
    <br />
    <br />    
</body>

</html>