<!--use urlfor everywhere, in hrefs, etc. -->
<!--
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<a href="/logout">Log Out</a>
    <h1>Hello, {{ username }} </h1>
    <h3>GAMES</h3>
    {% for game_name in game_names %}
    <a href="/user/{{ username }}/{{ game_name }}"> {{ game_name }} </a>
    <br />
	{% endfor %}
    <br />
    <a href="/create_game">Start New Game</a>
    <br />
    <br />    
    <h3>FRIENDS</h3>
    {% for friend in friends %}
    <a href=""> {{ friend }} </a>
    <br />
    {% endfor %}
    <br />
    <a href="/friend_request">Send Friend Request</a>
    <br />
    <br />    
    <h3>FRIEND REQUESTS</h3>
    {% for requester in pending_requests %}
    <a href=""> {{ requester }} </a>
    [
    <a href="{{ url_for('handle_request', requester=requester, confirm=True) }}">confirm</a>
    <a href="{{ url_for('handle_request', requester=requester, confirm=False) }}">cancel</a>
    ]
    <br />
    {% endfor %}
    <br />
    <br />    
</body>

</html>-->

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://dingo-test.herokuapp.com http://dingo-test.herokuapp.comdata: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="js/jquery-1.5.0.mobile.min.css">
    <title>Dingo</title>
</head>

<body>
    HOME
</body>

</html>

